<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="~/admin/assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Dayanet</h4>
        </div>
        <div class="toggle-icon ms-auto">
            <i class='bx bx-last-page'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class='bx bx-home'></i>
                </div>
                <div class="menu-title">داشبورد</div>
            </a>
            <ul>

                <li>
                    <a href="/Admin/Home/Index"><i class="bx bx-left-arrow-alt"></i>فروشگاه</a>
                </li>

            </ul>
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class="fadeInanimated bx bx-grid-alt"></i>
                </div>
                <div class="menu-title">دسته بندی و مشخصه ها</div>
            </a>
            <ul>
                <li>
                    <a href="/Admin/Categories/Index"><i class="fadeIn animated bx bx-layer"></i>دسته ها</a>
                </li>
                <li>
                    <a href="/Admin/CategoryAttributes/Index">
                        <i class="bx bx-list-minus"></i>لیست مشخصه دسته بندی
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class='bx bx-archive'></i>
                </div>
                <div class="menu-title">محصولات</div>
            </a>
            <ul>
                <li>
                    <a href="/Admin/Products/Index">
                        <i class="bx bx-list-minus"></i>لیست محصولات

                    </a>
                </li>
                <li>
                    <a href="/Admin/Products/CreateProduct">
                        <i class="bx bx-plus"></i>محصول جدید
                    </a>
                </li>

            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class='bx bx-dollar-circle'></i>
                </div>
                <div class="menu-title">مالی</div>
            </a>
            <ul>
                <li>
                    <a href="/Admin/Product/Index">
                        <i class="bx bx-line-chart"></i>لیست درخواست ها

                    </a>
                </li>
                <li>
                    <a href="/Admin/Product/CreateProduct">
                        <i class="bx bx-food-menu"></i>فاکتورها
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="/Admin/Roles/Index">
                <div class="parent-icon">
                    <i class='bx bx-shield-x'></i>
                </div>
                <div class="menu-title"> مدیریت نقشها</div>
            </a>
        </li>
        <li>
            <a href="/Admin/Users/Index">
                <div class="parent-icon">
                    <i class='bx bx-user-check'></i>
                </div>
                <div class="menu-title"> مدیریت کاربران</div>
            </a>
        </li>
        <li>
            <a href="user-profile.html">
                <div class="parent-icon">
                    <i class='bx bx-heart'></i>
                </div>
                <div class="menu-title"> مدیریت علایق</div>
            </a>
        </li>
        <li>
            <a href="user-profile.html">
                <div class="parent-icon">
                    <i class='bx bx-comment'></i>
                </div>
                <div class="menu-title"> مدیریت نظرات</div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class='bx bx-home-smile'></i>
                </div>
                <div class="menu-title">صفحه اصلی</div>
            </a>
            <ul>
                <li>
                    <a href="/Admin/Sliders/Index">
                        <i class="bx bx-camera-movie"></i>لیست اسلایدرها

                    </a>
                </li>
                <li>
                    <a href="/Admin/Sliders/CreateSlider">
                        <i class="bx bx-plus"></i>ایجاد اسلایدر

                    </a>
                </li>
                <li>
                    <a href="/Admin/Banners/Index">
                        <i class="bx bx-film"></i>لیست بننر ها
                    </a>
                </li>
                <li>
                    <a href="/Admin/Banners/CreateBanner">
                        <i class="bx bx-plus"></i>ایجاد بنر

                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="user-profile.html">
                <div class="parent-icon">
                    <i class='bx bx-news'></i>
                </div>
                <div class="menu-title">مقاله ها</div>
            </a>
        </li>
        <li>
            <a href="user-profile.html">
                <div class="parent-icon">
                    <i class='bx bx-network-chart'></i>
                </div>
                <div class="menu-title"> شبکه های اجتماعی</div>
            </a>
        </li>
        <li>
            <a href="user-profile.html">
                <div class="parent-icon">
                    <i class='bx bx-cog bx-spin'></i>
                </div>
                <div class="menu-title"> تنظیمات سایت</div>
            </a>
        </li>
        @*
        <li>
        <a class="has-arrow" href="javascript:;">
        <div class="parent-icon">
        <i class="bx bx-menu"></i>
        </div>
        <div class="menu-title">منو چند سطحی</div>
        </a>
        <ul>
        <li>
        <a class="has-arrow" href="javascript:;"><i class="bx bx-left-arrow-alt"></i>سطح یک</a>
        <ul>
        <li>
        <a class="has-arrow" href="javascript:;">
        <i class="bx bx-left-arrow-alt"></i>سطح
        دو
        </a>
        <ul>
        <li>
        <a href="javascript:;"><i class="bx bx-left-arrow-alt"></i>سطح سه</a>
        </li>
        </ul>
        </li>
        </ul>
        </li>
        </ul>
        </li>*@
    </ul>
    <!--end navigation-->
</div>